.nav-container{
    max-height: 8vh;
    height: 10vh; 
    width: 100%;
    background-color: grey;
    display: flex;
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;   
  display: flex; 
  align-items: center;
  justify-content: space-between

}

.nav-logo{
    max-height: 5vh;
    width: 3vw;
    color: black;
    position: relative;
    margin: 1vh 1vw 0 1vw;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 40px;
}


ul li a{
    text-decoration: none;
}

.contact-button{
    margin-right: 3vw;
    background-color: pink;
    color: white;
    padding: 1vh 2vw;
    border-radius: 30px;
}

.contact-button a{
    margin: 0;
    text-decoration: none;
    color: black;


}

